/* 颜色 */
*{
    background-color: rgb(174, 160, 199);
}
.wancheng{
   background-color: #2d5a27;
            color: #e0e0e0;
            width: 50px;
}
.weiwancheng{
    background-color: #881400;
            color: #ffffff;
            width: 50px;
}